body {
  margin: 0px;
  font-size: 16px;
}
.main-container {
  width: 100%;
  max-width: 1500px;
  margin: 0px auto; /*  برای اینکه از  بالا پایین فاصله نباشه و از بقل اتوماتیک*/
  font-size: 1em;
}
header,
footer {
  background-color: dimgrey;
  color: aliceblue;
  padding: 20px;
}
header nav {
  display: flex;
}
header nav span {
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 5px 10px;
}
main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
main section {
  overflow: hidden;
}
main .content {
  padding: 20px;
}
main .menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}
main .menu span {
  border-bottom: solid black 1px;
  margin-bottom: 8px;
}
main .content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .content .cards .card {
  background-color: cadetblue;
  padding: 50px;
  margin: 10px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
/*media query*/
@media screen and (max-width: 900px) {
  main {
    grid-template-columns: 2fr 4fr;
  }
  main .content .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  main .menu {
    display: none;
  }
  main {
    grid-template-columns: 1fr;
  }
   main .content .cards {
    grid-template-columns: 1fr;
  }
  header nav {
  flex-direction: column ;

  }
  header nav  span{
    margin-top: 5px;
    text-align: center;
  
    
  }
  main .content{
    font-size: 2em;
  }
}
